body{
  background: #262626;
}
i{
  
  color:white;
  float:right;
}
i:hover{
transform:scale(1.8);
}
li{
  margin-left:0;
  list-style: none;
  color:white;
}
.todo{
  color: yellowgreen;
}
.list{
  
  color:white;
}
#user{
  text-align: center;
  border-radius:30px;
  
}
#add{
  background: white;
  Color:black;
  border: 0;
  border-radius: 30px;
  text-align: center;
  width:20%;
}
